/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


body {
    font-family: 'Nunito', sans-serif;
    background-color: #b2bec3;
    }
h1 {
    color: #d63031;
    font-weight: bold;
    margin: 0px;
}
.obsah {
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    width: 550px;
    padding: 30px;
    margin: auto;

    position: relative;
    top: 150px;
}
.foto {
    width: 150px;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);

    position: absolute;
    top: -75px;
    right: -75px;
}
p {
    text-align: justify;
    margin-bottom: 30px;
}
.twitter,
.facebook {
    display: block;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}
.twitter {
    background-color: #1da1f2;
}
.facebook {
    background-color: #3b5998;
    }
/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

